<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}

{% load static %}
{% include "basic_app/tabs.html" %}

<style>
  .imgp{
    height: auto;
    width: 90%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  
  
  p{
    color: white;
  }
 .hh{
  font-family: 'Amatic SC', cursive;
  text-align: center;


}




</style>
<p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
<div class="container">
  <h1 class="hh">VEDANTHANGAL BIRD SANCTUARY</h1>
  <P>THANKS</P>

    <div class="row">
      <div class="col-4" > <a href="{% static "images/VEDH1.jpg" %}"> <img class="imgp" src="{% static "images/VEDH1.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH2.jpg" %}"> <img class="imgp" src="{% static "images/VEDH2.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH3.jpg" %}"><img class="imgp" src="{% static "images/VEDH3.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
        <div class="col-4" > <a href="{% static "images/VEDH4.jpg" %}"> <img class="imgp" src="{% static "images/VEDH4.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VEDH5.jpg" %}"> <img class="imgp" src="{% static "images/VEDH5.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VEDH6.jpg" %}"><img class="imgp" src="{% static "images/VEDH6.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/VEDH7.jpg" %}"> <img class="imgp" src="{% static "images/VEDH7.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH8.jpg" %}"> <img class="imgp" src="{% static "images/VEDH8.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH9.jpg" %}"><img class="imgp" src="{% static "images/VEDH9.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/VEDH10.jpg" %}"> <img class="imgp" src="{% static "images/VEDH10.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH11.jpg" %}"> <img class="imgp" src="{% static "images/VEDH11.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VEDH12.jpg" %}"><img class="imgp" src="{% static "images/VEDH12.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>


    

  
  </div>


{% endblock %}