<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}

{% load static %}
{% include "basic_app/tabs.html" %}

<style>
  .imgp{
    height: auto;
    width: 90%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  
  
  p{
    color: white;
  }

.hh{
  font-family: 'Amatic SC', cursive;
  text-align: center;


}


</style>
<p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
<div class="container">
  <h1 class="hh">THE PULICAT LAKE</h1>
  <P>THANKS</P>

    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL1.jpg" %}"> <img class="imgp" src="{% static "images/PUL1.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL2.jpg" %}"> <img class="imgp" src="{% static "images/PUL2.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL3.jpg" %}"><img class="imgp" src="{% static "images/PUL3.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL4.jpg" %}"> <img class="imgp" src="{% static "images/PUL4.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL5.jpg" %}"> <img class="imgp" src="{% static "images/PUL5.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL6.jpg" %}"><img class="imgp" src="{% static "images/PUL6.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL7.jpg" %}"> <img class="imgp" src="{% static "images/PUL7.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL8.jpg" %}"> <img class="imgp" src="{% static "images/PUL8.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL9.jpg" %}"><img class="imgp" src="{% static "images/PUL9.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL10.jpg" %}"> <img class="imgp" src="{% static "images/PUL10.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL11.jpg" %}"> <img class="imgp" src="{% static "images/PUL11.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL12.jpg" %}"><img class="imgp" src="{% static "images/PUL12.jpg" %}" alt=""></a></div>
    </div>

    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL13.jpg" %}"> <img class="imgp" src="{% static "images/PUL13.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL14.jpg" %}"> <img class="imgp" src="{% static "images/PUL14.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL15.jpg" %}"><img class="imgp" src="{% static "images/PUL15.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/PUL16.jpg" %}"> <img class="imgp" src="{% static "images/PUL16.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL17.jpg" %}"> <img class="imgp" src="{% static "images/PUL17.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/PUL18.jpg" %}"><img class="imgp" src="{% static "images/PUL18.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
       

  
  </div>


{% endblock %}