<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}

{% load static %}
{% include "basic_app/tabs.html" %}

<style>
  .imgp{
    height: auto;
    width: 90%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  
  
  p{
    color: white;
  }
  .hh{
    font-family: 'Amatic SC', cursive;
    text-align: center;
  
  
  }




</style>
<p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
<div class="container">
 


    <h1 class="hh">THE VALPARAI</h1>
    <P>THANKS</P>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/VALH1.jpg" %}"> <img class="imgp" src="{% static "images/VALH1.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH2.jpg" %}"> <img class="imgp" src="{% static "images/VALH2.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH3.jpg" %}"><img class="imgp" src="{% static "images/VALH3.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/VALH4.jpg" %}"> <img class="imgp" src="{% static "images/VALH4.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH5.jpg" %}"> <img class="imgp" src="{% static "images/VALH5.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH6.jpg" %}"><img class="imgp" src="{% static "images/VALH6.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>
    <div class="row">
      <div class="col-4" > <a href="{% static "images/VALH7.jpg" %}"> <img class="imgp" src="{% static "images/VALH7.jpg" %}"  alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH8.jpg" %}"> <img class="imgp" src="{% static "images/VALH8.jpg" %}" alt=""> </a></div>
      <div class="col-4 " ><a href="{% static "images/VALH9.jpg" %}"><img class="imgp" src="{% static "images/VALH9.jpg" %}" alt=""></a></div>
    </div>
    <p>thanks</p>
    <p>thanks</p>
    <p>thanks</p>

    <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH10.jpg" %}"> <img class="imgp" src="{% static "images/VALH10.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH11.jpg" %}"> <img class="imgp" src="{% static "images/VALH11.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH12.jpg" %}"><img class="imgp" src="{% static "images/VALH12.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>

      <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH13.jpg" %}"> <img class="imgp" src="{% static "images/VALH13.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH14.jpg" %}"> <img class="imgp" src="{% static "images/VALH14.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH15.jpg" %}"><img class="imgp" src="{% static "images/VALH15.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>
      <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH16.jpg" %}"> <img class="imgp" src="{% static "images/VALH16.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH17.jpg" %}"> <img class="imgp" src="{% static "images/VALH17.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH18.jpg" %}"><img class="imgp" src="{% static "images/VALH18.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>

      <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH19.jpg" %}"> <img class="imgp" src="{% static "images/VALH19.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH20.jpg" %}"> <img class="imgp" src="{% static "images/VALH20.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH21.jpg" %}"><img class="imgp" src="{% static "images/VALH21.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>
      <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH22.jpg" %}"> <img class="imgp" src="{% static "images/VALH22.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH23.jpg" %}"> <img class="imgp" src="{% static "images/VALH23.jpg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH24.jpg" %}"><img class="imgp" src="{% static "images/VALH24.jpg" %}" alt=""></a></div>
      </div>
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>
      <div class="row">
        <div class="col-4" > <a href="{% static "images/VALH25.jpg" %}"> <img class="imgp" src="{% static "images/VALH25.jpg" %}"  alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH26.jpeg" %}"> <img class="imgp" src="{% static "images/VALH26.jpeg" %}" alt=""> </a></div>
        <div class="col-4 " ><a href="{% static "images/VALH27.jpeg" %}"><img class="imgp" src="{% static "images/VALH27.jpeg" %}" alt=""></a></div>
      </div>
      
      <p>thanks</p>
      <p>thanks</p>
      <p>thanks</p>



  
  </div>


{% endblock %}