<!DOCTYPE html>

    <div class="container c1">

    <nav class="nav nav-pills flex-column flex-sm-row" style="background-color: white; " >
        <a class="flex-sm-fill text-sm-center nav-link  " aria-current="page" href="{%url 'pp:photography' %}"> <b>VEDANTHANGAL</b></a>
        <a class="flex-sm-fill text-sm-center nav-link " href="{% url 'pp:photography2' %}" ><b> VALPARAI</b></a>
        <a class="flex-sm-fill text-sm-center nav-link " href="{% url 'pp:photography3' %}"><b>PULICAT</b></a>
      </nav>
    </div>
  